* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 16px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  background-color: #3172b9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

/* Header  */

.header {
  height: 110px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

/* Hero  */

.hero-container {
  padding-top: 120px;
  padding-bottom: 130px;
}

.hero-content {
  max-width: 40%;
}

.section-hero-heading {
  margin-bottom: 20px;
}

.section-hero-description {
  margin-bottom: 30px;
}

.section-hero-btn-description {
  margin-top: 10px;
}

/* What we do  */

.section-do {
  padding-top: 140px;
  padding-bottom: 100px;
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  display: flex;
  margin-top: 50px;
}

.section-do-item {
  flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

/* Our happy clients */

.section-clients {
  padding-top: 90px;
  padding-bottom: 100px;
}

.section-clients-list {
  display: flex;
}

.section-clients-item {
  flex: 1 1 33.33%;
}

.section-clients-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients-user {
  display: flex;
  align-items: center;
}

.section-clients-avatar {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

/* Contacts */

.section-contacts {
  padding-top: 85px;
  padding-bottom: 95px;
}

.section-contacts-list {
  display: flex;
  margin-top: 43px;
}

.section-contacts-item {
  flex: 1 1 33.33%;
}

.section-contacts-info {
  max-width: 250px;
}